/* styles.css */

.app-container{
   margin: auto;
}
.card-body {
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #f5f5f5; /* Light gray background */
}


    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }

.card-title {
    font-size: rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;

}

.card-text {
    font-size: 1rem;
    color: #666;
}

    .card-text:last-child {
        margin-top: 1rem;
    }

    .card-text a {
        color: #007bff;
        text-decoration: none;
    }

        .card-text a:hover {
            text-decoration: underline;
        }

.card-body {
    padding: 1.5rem;
}
#articleRubrik {
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark gray text color */
    padding: 20px;
    text-align: center;
    font-size: 1.5rem; /* Larger font size */
    border: 1px solid #ddd; /* Subtle bottom border */
    margin: 0px 300px 0px 300px;
    
}
.card-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}
}