

.Header {
    background-color: white;
    border-bottom: 4px solid #e02e3d;
    margin-bottom: 20px;
    height: 5em;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    display: block;
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
    .nav-link:hover {
        background-color: #555;
    }

.logo img {
    width: 77px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
